# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Hoc_lap_trinh\Module_2\Week5_module2\StructuralDesignPattern\TH-TrienKhaiFacade\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
